//html,
//body {
//  height: 50vh;
//  width: 50vw;
//}

//#root {
//  position: relative;
//  height: 100%;
//  overflow: hidden;
//  border-radius: 7px;
//  background: #f0f0f0;
//}

.ccardMain {
  width: 30ch;
  height: 10ch;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ccard {
  width: 15ch;
  height: 5ch;
  background: purple;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  will-change: transform;
}
.ccard a {
  text-decoration: none;
  color: white;
}


