
.ccardMain {
  width: 80%;
  height: 5%;
  display: flex;
  align-items: flex-start;

}

.ccard {
  width: 60%;
  height: 10%;
  transition: box-shadow 0.5s;
  will-change: transform;
  background-color: #383843;
  border: 0;
}
.ccard a {
  text-decoration: none;
  color: #a6a6a9;
}

.homeItem{
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: normal;
}
