.PortfolioBlock {
    padding-top: 65px;
    padding-left: 115px;
}
.samurai {
    width: 400px;
    height: auto;
}

.PortfolioName {

    width: 65px;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 32px;

    border-bottom-width: 3px;
    border-bottom-color: #dc646f;
    border-bottom-style: solid;
    margin-bottom: 43px;
}

.CardContent {
    /*height: 450px;*/
    opacity: 80%;
}
.CardContent:hover {
    opacity: 100%;
}