.AboutAll {
    width: 100%;
    padding-top: 20px;
    padding-left: 115px;
    display: flex;
    flex-direction: column;

    font-family: "Raleway", sans-serif;
}

.AboutMe {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 460px;

}
.AboutText {
    width: 50%;

    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 32px;
}
.Divider {
    width: 65px;
    border-bottom-width: 3px;
    border-bottom-color: #dc646f;
    border-bottom-style: solid;
    margin-bottom: 32px;

}
.AboutTextBlock {
    font-size: 14px;
    width: 300px;

}
.AboutMeBlock {
    font-size: 18px;
    padding-top: 46px;


}
.AboutMeItem {
    padding-top: 32px;

}
/*Начало блока про опыт работы*/
.WorkExperience {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 32px;
}
.BlackBlock {
    background-color: #383843;
    color: white;

    width: 90%;
    border-radius: 25px;
    margin-bottom: 20px;
    }

.BlackBlockHeader {
    margin: 15px;
    font-size: 18px;
}
.BlackBlockText {
    padding: 0 15px 15px;
    font-size: 16px;
}
/*===============Skills===============*/
.Skills {
    margin-top : 50px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    color: black;

}
.SkillsHeader {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    margin: 61px 0 0 115px;
}
.SkillsSlider {
    padding-left: 115px;
    font-size: 18px;
}

.SkillsCol {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.skillsLogo{
    padding-left: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logos{
    height: 140px;
    padding: 2%;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}


@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5)
    }
    50% {
        -webkit-transform: scale(1.0, 1.0);
        transform: scale(1.0, 1.0);
    }
    100% {
        -webkit-transform: scale(0.5, 0.5);
        transform: scale(0.5, 0.5);
    }
}

.cube {
    width: 50%;
    height: 100%;
}
