.navbar {
    display: block;
    float: left;
    width: 240px;
    height: 100%;
    background-color: #383843;
}
.navbar a {
    text-decoration: none;
    color: #a6a6a9;
}
.ActiveLink {
    color: white;
}

.navi_list {
    padding-left: 30px;
    padding-top: 22px;
    list-style: none;
    font-family: "Raleway", sans-serif;
    color: #a6a6a9;
    font-size: 22px;
    font-weight: normal;
}

.navi_list li {
    padding-bottom: 44px;
}

.portraitSubscription {
    display: flex;
    align-items: flex-end;

    color: white;
    font-family: "Raleway", sans-serif;
    font-size: large;

    width: 100%;
    height: 275px;
    background: url('/src/images/portrait_cr.jpg') center no-repeat;
    background-size: contain;


}

.portraitSubscriptionName {
    width: 200px;
    text-align: center;
    margin: 0 auto 15px;
}

