.container {
    display: flex;
    flex-direction: row;
    height: 2376px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.right_column {
    width: 960px;
    display: flex;
    flex-direction: column;
    background-color: white;
}


