.container {
    display: flex;
    flex-direction: row;
    height: 2376px;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.right_column {
    width: 960px;
    display: flex;
    flex-direction: column;
    background-color: white;
}


.infoBlock {
    width: 100%;
    height: 1430px;

}

.bottom {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    height: 504px;
}

.feedback {
    width: 50%;
    margin: 0 10% 0;

}
.contact {
    width: 50%;
    background-color: gray;
}