.ContactInfo {
    display: flex;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    margin-top: 15px;

}

.InfoBlock {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.icon {
    padding-top: 30px;
    width: 20%;
}
.InfoHeader {
    font-size: 18px;
}
.InfoText {
    font-size: 14px;
}