.ContactInfo {
    display: flex;
    flex-direction: column;

}

.InfoBlock {
    display: flex;
    flex-direction: row;
    width: 80%;
}
.icon {

    width: 20%;
}
.Phone {
    transform: rotate(90deg);
}
.Send {
    transform: rotate(310deg);
}